<div class="root">
  <div class="backElement"></div>
  <div class="loginModal">
    <div class="paper">

      <div class="header">
        <h1 class="mat-h1 headerName">Добро пожаловать</h1>
      </div>

      <div class="paperContent">
        <h1 class="mat-display-1">Войти</h1>
        <div class="loginInputs">
          <form style="text-align: center" [formGroup]="loginForm"
                (ngSubmit)="handleLogin(loginForm.value.login, loginForm.value.password)">
            <mat-form-field class="fullWidth" appearance="outline">
              <mat-label>Логин</mat-label>
              <input required formControlName="login" matInput placeholder="Логин">
              <mat-icon class="inputIcon" matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
              <mat-label>Пароль</mat-label>
              <input required formControlName="password" type="password" matInput placeholder="Пароль">
              <mat-icon class="inputIcon" matSuffix>lock</mat-icon>
            </mat-form-field>

            <button type="submit" mat-raised-button class="signInButton">войти</button>
            <a class="signLink" [routerLink]="['/registration']"><h6 class="mat-button">регистрация</h6><h6></h6></a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

