<div class="root">
  <div class="backElement"></div>
  <div class="loginModal">
    <div class="paper">

      <div class="header">
        <h1 class="mat-h1 headerName">Добро пожаловать</h1>
      </div>

      <div class="paperContent">
        <h1 class="mat-display-1">Войти</h1>
        <div class="loginInputs">
          <form (submit)="handleLogin(login.value, password.value)">
            <mat-form-field class="fullWidth" appearance="outline">
              <mat-label>Логин</mat-label>
              <input #login matInput placeholder="Логин">
              <mat-icon class="inputIcon" matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field class="fullWidth"   appearance="outline">
              <mat-label>Пароль</mat-label>
              <input type="password" #password matInput placeholder="Пароль">
              <mat-icon class="inputIcon" matSuffix>lock</mat-icon>
            </mat-form-field>
            <button type="submit" mat-raised-button class="signInButton">войти</button>
          </form>

        </div>
      </div>



    </div>
  </div>
</div>

