<div class="navBar">
  <div class="navArea">
    <div>
      <mat-icon class="leftGroup" style="color: white" matSuffix>supervisor_account</mat-icon>
      <mat-icon class="leftGroup" matSuffix>menu</mat-icon>
      <mat-icon class="leftGroup" matSuffix>search</mat-icon>
    </div>

    <div class="rightBlock">
      <mat-icon class="rightGroup" matSuffix>calendar_today</mat-icon>
      <mat-icon class="rightGroup" matSuffix>message</mat-icon>
      <div class="userAvatar" [matMenuTriggerFor]="menu"><h1 class="mat-h2">{{avatarSymbol}}</h1>
        <mat-menu #menu="matMenu" style="padding: 0" >
          <button mat-menu-item (click)="authorizationService.unAuth()"><mat-icon class="inputIcon" matSuffix>exit_to_app</mat-icon>Выйти</button>
        </mat-menu>
      </div>
    </div>


  </div>
</div>
