<div class="messageBarRoot">
  <form class="sendMessageForm" [formGroup]="sendMessageForm" (keyup.enter)="clearInput()">
    <mat-icon class="inputIcon" matSuffix>subdirectory_arrow_left</mat-icon>
    <input value="{{inputValue}}"
           (change)="inputState(sendMessageForm.value)"
           formControlName="sendMessageInput"
           class="input"
           placeholder="Введите сообщение...">
    <button class="sendButton"
            mat-button [disabled]="sendMessageForm.value.sendMessageInput.length === 0"
            (click)="handleSendMessage(sendMessageForm.value)">
      SEND
    </button>
  </form>
</div>
