<div class="root">
  <div class="backElement"></div>
  <div class="loginModal">
    <div class="paper">
      <div class="header">
        <h1 class="mat-h1 headerName">Добро пожаловать</h1>
      </div>

      <div class="paperContent">
        <h1 class="mat-display-1">Регистрация</h1>
        <div class="loginInputs">
          <form style="text-align: center" [formGroup]="registerForm"
                (ngSubmit)="authorizationService.pushRegData(registerForm.value.newLogin, registerForm.value.newPassword)">

            <mat-form-field class="fullWidth" appearance="outline">
              <mat-label>Логин</mat-label>
              <input required formControlName="newLogin" matInput placeholder="Логин">
              <mat-icon class="inputIcon" matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field class="fullWidth" appearance="outline">
              <mat-label>Пароль</mat-label>
              <input required formControlName="newPassword" type="password" matInput placeholder="Пароль">
              <mat-icon class="inputIcon" matSuffix>lock</mat-icon>
            </mat-form-field>

            <button type="submit" mat-raised-button class="signInButton">Зарегистрироваться</button>
            <a class="signLink" [routerLink]="['/login']"><h6 class="mat-button">войти</h6><h6></h6></a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

