<div class="header">
  <div style="display: flex; align-items: center">
    <h1 class="mat-h1">{{userName}}</h1>
    <div class="onlineIcon"></div>
    <h1 class="mat-caption online">ONLINE</h1>
  </div>

  <div class="funcBlock">
    <div style="display: flex; align-items: center">
      <mat-icon class="funcIcon" matSuffix>call</mat-icon>
      <h2 class="mat-h3">Call</h2>
    </div>
    <div style="display: flex; margin-left: 20px; align-items: center">
      <mat-icon class="funcIcon" matSuffix>present_to_all</mat-icon>
      <h2 class="mat-h3">Share</h2>
    </div>
  </div>

  <div class="messageButton">
    <mat-icon class="messIcon" matSuffix>chat_bubble_outlined</mat-icon>
  </div>
</div>

<div class="chatContent">
  <div class="content" id="msgContainer">
    <app-message *ngFor="let message of messages"
                 [messId]="message.messId"
                 [message]="message.message"
                 [date]="message.date"
                 [userId]="message.userId"
                 [senderName]="message.senderName">
    </app-message>
  </div>
</div>
<app-send-message-bar></app-send-message-bar>
