.messageBarRoot {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.input {
  resize: none;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  padding: 10px 0 10px 10px;
  border-radius: 10px;
  outline: none;
  font-size: 1.3rem;
  width: 100%;
}

.input::placeholder {
  color: #b2b2b2;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin-top: 10px;
}

:-ms-input-placeholder {
  color: #8d8d8d;
}

.sendButton {
  color: #fff;
  margin-left: auto;
  align-self: center;
  background-color: #1e89d0;
  width: 100px;
  height: 40px;
  padding: 0;
  border-radius: 0;
}

.sendButton:hover {
  background-color: #0b58d0;
}

.sendButton:disabled {
  background-color: rgb(164, 164, 164);
  cursor: not-allowed;
}

.fixButton {
  padding: 0;
}

.sendMessageForm {
  display: flex;
  width: 100%;
  align-items: center;
}

.sendIcon {
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.inputIcon {
  color: #d7d5d5;
}
