.messageRoot {
  display: flex;
  padding: 20px 0;
  align-items: center;
}
.avatar {
  border-radius: 0;
  width: 50px;
  height: 50px;
  background-color: rgb(98, 192, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 35px;
}
.avatarIco {
  color: white;
}
.author {
  margin-bottom: 7px;
  font: 500 18px/28px Roboto,"Helvetica Neue",sans-serif;
  color: #444444;
}
.date {
  margin:  0 0 0 auto;
  color: #cdcdcd;
}
.message {
  margin: 0;
  color: #7e7e7e;
  white-space: pre-wrap;
  word-break: break-all;
}
.messageContainer {
  max-width: 600px;
}
.closeIco {
  color: #7e7e7e;
}
.deleteButton {
  cursor: pointer;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deleteButton:hover {
  background-color: rgba(2, 104, 118, 0.15);
  transition-duration: 0.2s;
  border-radius: 50%;;
}
.input {
  background-color: #a4c9ce;
  color: white;
  border: 0;
  padding: 10px;
  border-radius: 10px;
}
.input::placeholder {
  color: white;
}
.sendButton {
  background-color: unset;
  border: 0;
  cursor: pointer;
}
.editMessageForm {
  display: flex;
  align-items: center;
}
div[disabled]
{
  pointer-events: none;
  opacity: 0.7;
}
