@media (min-width: 1200px) {
  .paper {
    width: 1100px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .paper {
    width: 900px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .paper {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .paper {
    width: 500px;
  }
}

  @media (max-width: 480px) {
    .paper {
      width: 95%;
    }
  }
  .root {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fafafa;
  }

  .backElement {
    height: 311px;
    background-color: #005662;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }

  .homeContent {
    position: absolute;
    top: 311px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
  }

  .chatModal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 10px;
  }

  .paper {
    box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.17);
    position: absolute;
    top: -200px;
    bottom: 30px;
    overflow: auto;
    /*border-radius: 10px;*/
    background-color: #FFF;
  }
